<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="" data-toggle="modal" data-target="#addNewTask">Create New Task</a></li>
  <li role="presentation"><a href="">View All Tasks</a></li>
  <li role="presentation" class="dropdown">
      <a href="" ng-click="showLogout()">
                        <span class="glyphicon glyphicon-user"> </span> {{userData.name}} <span class="caret"></span>
                    </a>
                </li>
                <li><a ng-click="logout()" href="#/" ng-show="show"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>